*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box-1{
  height:100vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-2{
  height: 100vh;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-3{
  height: 100vh;
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-1,.section-2,.section-3{
  cursor: pointer;
}
